- project = project_access_token.user.projects.first

.gl-responsive-table-row{ role: 'row' }
  .table-section.section-10
    .table-mobile-header{ role: 'rowheader' }
      = _('Name')
    .table-mobile-content
      = project_access_token.name
  .table-section.section-10
    .table-mobile-header{ role: 'rowheader' }
      = _('Scopes')
    .table-mobile-content.gl-white-space-normal
      = project_access_token.scopes.join(', ')
  .table-section.section-15
    .table-mobile-header{ role: 'rowheader' }
      = _('Project')
    .table-mobile-content
      = link_to project.name, project.full_path
  .table-section.section-20
    .table-mobile-header{ role: 'rowheader' }
      = _('Creator')
    .table-mobile-content
      = render 'shared/credentials_inventory/users/user_detail', user: project_access_token.user.created_by
  .table-section.section-15
    .table-mobile-header{ role: 'rowheader' }
      = _('Created on')
    .table-mobile-content
      = project_access_token.created_at
  .table-section.section-10
    .table-mobile-header{ role: 'rowheader' }
      = _('Last used')
    .table-mobile-content
      = project_access_token.last_used_at || _('Never')
  .table-section.section-10
    .table-mobile-header{ role: 'rowheader' }
      = _('Expires')
    .table-mobile-content
      = project_access_token.expires_at || _('Never')
  .table-section.section-10
    .table-mobile-header{ role: 'rowheader' }
      = _('Revoke')
    .table-mobile-content
      = link_to _('Revoke'), admin_credential_project_revoke_path(credential_id: project_access_token, project_id: project.id), method: :put, data: { confirm: _('Are you sure you want to revoke this project access token? This action cannot be undone.') }, class: 'btn btn-danger btn-danger-secondary btn-md btn-secondary gl-button'
